main {
    padding: 2rem;
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    text-align: left;
    margin: 1rem;
}

h2 {
    text-align: left;
    margin: 1rem;
}

p {
    text-align: left;
    margin: 1rem;
}

strong {
    display: block;
}